/* App.css : App 컴포넌트 및 하위 컴포넌트들 스타일 정의, 레이아웃 (헤더, 푸터, 메인레이아웃 등..) */

/* 반응형 너비 css */
@media (min-width: 650px) { /* 최소너비 650 이상인 경우 적용(650px ~ ) */
	.App {
		width: 640px;
	}
}

@media(max-width: 650px) { /* 최대너비가 650 인 경우 적용 (0 ~ 650px) */
	.App {
		width: 90vw;
	}
}

#root {
	background-color: #fff;
	box-shadow: rgba(100,100,111,0.2) 0px 7px 30px 0px;
}

.App {
	min-height: 100vh;
	padding: 20px;
}

.MyButton {
	border: none;
	padding: 10px;
	border-radius: 5px;
	font-family: 'Gaegu', sans-serif;
	font-weight: bold;
	cursor: pointer;
}

.MyButton_done {
	background-color: rgb(75, 209, 93);
	color: #fff;
}

.MyButton_default {
	background-color: #f6f6f6;
}

.MyButton_remove {
	background-color: rgb(237, 81, 81);
	color: #fff;
}

header {
	border-bottom: 1px solid #e2e2e2;
	display: flex;
	align-items: center;
	text-align: center;
	padding: 10px;
}
header > div {
	display: flex;
}
.head_btn_left,
.head_btn_right {
	width: 25%;
}
.head_btn_left {
	justify-content: start;
}
.head_btn_right {
	justify-content: end;
}

.head_text {
	width: 50%;
	font-size: 20px;
	justify-content: center;
}

/* DiaryContainer */
.DiaryContainer .menu_wrapper {
	margin: 20px 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.DiaryContainer .right_col {
	flex-grow: 1; /* flex-grow : 1 -> 남은 영역의 전체영역. 100% */
}
.DiaryContainer .right_col button {
	width: 100%;
}

.DiaryContainer .ControlMenu {
	border: 1px solid blue;
	margin-right: 10px;
	border: none;
	border-radius: 5px;
	background-color: #f6f6f6;
	padding: 10px 20px;
	cursor: pointer;
	font-family: 'Gaegu', sans-serif;
	font-size: 16px;
}

/* DiaryItem */
.DiaryItem {
	padding: 15px 0;
	border-bottom: 1px solid #e2e2e2;
	display: flex;
	justify-content: space-between;
	align-items: center;
	cursor: pointer;
}

.DiaryItem .img_info_wrapper {
	display: flex;
	align-items: center;
}

.DiaryItem .emotion_img_wrapper {
	min-width: 120px;
	height: 80px;
	border-radius: 5px;
	display: flex;
	justify-content: center;
}

.DiaryItem .emotion_img_wrapper_1 {
	background-color: #64c964;
}
.DiaryItem .emotion_img_wrapper_2 {
	background-color: #9dd772;
}
.DiaryItem .emotion_img_wrapper_3 {
	background-color: #fdce17;
}
.DiaryItem .emotion_img_wrapper_4 {
	background-color: #fd8446;
}
.DiaryItem .emotion_img_wrapper_5 {
	background-color: #fd565f;
}

.DiaryItem .info_wrapper {
	margin-left: 20px;
	flex-grow: 1;
}

.DiaryItem .diary_date {
	font-weight: bold;
	font-size: 20px;
}

.DiaryItem .btn_wrapper {
	min-width: 70px;
}